.overlay {
    position: absolute; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
    display: none;
}

.container {
    position: relative;
    width: 792px;
    height: 613px;
    margin: 0 auto;
    padding: 32px 106px 39px 106px;

    border: #E5E5E5 solid 1px;
    background-color: #F2F0F9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);

    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.container__title {
    margin-bottom: 21px;
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.container__title-underline {
    height: 1px;
    margin: 0 auto 21px;
}

.container__form {
    width: 580px;
    height: 403px;
    margin: 0 auto;
}

.container__fieldset {
    height: 403px;
    width: 580px;
    padding: 28px 0 28px 0;
    margin-bottom: 28px;

    display: grid;
    grid-template-columns: 250px 250px;
    grid-template-rows: repeat(auto-fill, 70px 70px 70px 70px 70px);
    column-gap: 24px;
    justify-content: center;
    
    background-color: #fff;
    border-radius: 8px;
    border: 1px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/*стилизация итоговой стоимости*/
.total-price {
    position: absolute;
    color: #6E6893;
    font-weight: 500;
    font-size: 14px;
}

.total-price span {
    font-weight: 700;
    font-size: 18px;
    color: #6D5BD0;
}

.container__total-price {
    top: 535px;
    left: 134px;
}






